div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:  -300px;
    margin-left: -200px;
}

body, h2, h3, h4, h5, h6 {
  font-family: 'Megrim', cursive;
}


h1 {
  margin: 0
}

h2 {
  margin: 0
}

html {
  scroll-behavior: smooth;
}
